nav ul {
  list-style-type: none;
  align-items: center;
  display: flex;
  font-size: 15px;
}


.logoHead {
  padding-left: 10px;
  
  height: 100px;
  width: 220px;
  
}

.logoHam{
  margin-left: 30px;
  height: 40px;
  width: 40px;
}

.logoSearch{
  margin-right: 40px;
  height: 40px;
  width: 40px;
}

.logoDrop{
  height: 25px;
  width: 25px;
  margin-right: 60px;
}


.App-header {
  display: flex;
  background-color: #201f1a;
  color: white;
  height: 100px;
  justify-content: space-between;
}




